@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark,.dark *));

* {
  font-family: "Manrope", sans-serif;
  
}

@theme {
   
    --color-primary: #2563EB;          
    --color-accent: #F59E0B;            
    --color-background: #FFFFFF;        
    --color-surface: #F8FAFC;           
    --color-text-base: #1F2937;        
    --color-text-secondary: #4B5563;    
    --color-border: #E5E7EB;            

}
.dark {
    --color-background: #111827;     
    --color-surface: #1F2937;        
    
    --color-text-base: #F3F4F6;      
    --color-text-secondary: #9CA3AF; 
    
    --color-primary: #60A5FA;        
    --color-accent: #F59E0B;         
    --color-border: #374151;        
}